<form action='/names' method='post'>
  <div>
    <input type='text' name='player1' placeholder='player 1 name'>
    <input type='text' name='player2' placeholder='player 2 name'>
    <button type='submit'>Save</button>
  </div>
</form>
